<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{{ STATIC_URL }}app/css/app.css" />
    <script src="{{ STATIC_URL }}app/js/app.js"></script>
    <script src="{{ STATIC_URL }}djpostal/js/jpaddr.js"></script>
    <link rel="stylesheet" href="{{ STATIC_URL }}jsui/css/smoothness/jquery-ui-1.9.1.custom.min.css" />
    <script src="{{ STATIC_URL }}jsui/js/jquery-1.8.2.js"></script>
    <script src="{{ STATIC_URL }}jsui/js/jquery-ui-1.9.1.custom.min.js"></script>
    {% block script %}{% endblock %}
    {% block style %} {% endblock %}
  </head>
  <body>
    <div id="contents">
     {% block content %}
        <!-- something here -->
     {% endblock %}
    </div>
  </body>
</html>
