{% extends "base.html" %}

{% block style %}
<style type="text/css">
label {font-weight: none}
th {align: left}
</style>
{% endblock %}

{% block content %}

{% if form %}
<div class="block"  />
<div>
  <div>
  <form id="edit-form" 
        action="{% url app_profiles_edit %}"  
        method="post"> {% csrf_token  %}
        <table width="80%" border="1px">
        {{ form.as_table }}
        </table>
        <input type="submit" name="action" value="preview" />
  </form>
  </div> 

<script>
$(function(){

    $("#edit-form input[name=zip]").autocomplete({
        minLength: 3,
        source: function(request,response){
            request.term =  request.term.split( /\n\s*/ ).pop(); 
            $.getJSON("{% url djpostal_json_zip maxnum=10 %}", request, function(data){
                    var sug=[];
                    $.each(data,function(i,val){
                        sug.push(
                        {'value':[val.fields.zip,val.fields.city,val.fields.town].join(' '), 
                         'id':val.pk, 'data':val.fields}) ;
                    });
                    response(sug );
             });
        },
        focus: function(){
        },
        select: function(event,ui){
            this.value = ui.item.data.zip;
            $("#edit-form input[name=prefecture]").val( ui.item.data.prefecture );
            $("#edit-form input[name=city]").val( ui.item.data.city );
            $("#edit-form input[name=town]").val( ui.item.data.town.replace('以下に掲載がない場合','') );
            return false;
        }
    });
    
});
</script> 

</div>
{% endif %}

{% endblock %}
