{% extends "base.html" %}
{% block content %}

{% if form %}
<div class="block"  />
<div>
  <div>
  <form id="edit-form" 
        action="{% url app_profiles_edit %}"  
        method="post"> {% csrf_token  %}
    <table>
    <tr><td rowspan="2">名前</td><td>{{ form.cleaned_data.family_name }} {{ form.cleaned_data.first_name }}</td></tr>
    <tr><td>{{ form.cleaned_data.family_kana }} {{ form.cleaned_data.first_kana }}</td></tr>
    <tr><td>住所</td>
    <td> 
        〒{{ form.cleaned_data.zip}} 
        {{ form.cleaned_data.prefecture}} 
        {{ form.cleaned_data.city}} 
        {{ form.cleaned_data.town}} 
        {{ form.cleaned_data.street}} 
        {{ form.cleaned_data.building}} 
    </td></tr>
    <tr><td>電子メール</td><td>
        {{ form.cleaned_data.email}} 
    </td></tr>
   
    <tr><td>電話</td><td>
        {{ form.cleaned_data.phone}} 
    </td></tr>
    </table>
    {{ form }}  {# hidden フォームを POSTバックする #}
    <input type="submit" name="action" value="save" />
    <input type="submit" name="action" value="edit" />
  </form>
  </div> 

<script>
</script> 

</div>
{% endif %}

{% endblock %}
